insmod all_video
insmod png
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
background_image /boot/grub/ankoraboot.png

# Live boot
menuentry "Ankora OS Zumrut (Live)" --hotkey=l {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path}
	initrd	/live/initrd.xz
}
menuentry "Ankora OS Zumrut (Guvenli Mod)" {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.xz
}

# You can add more entries like this
# menuentry "Alternate live boot" {
# linux /live/vmlinuz-6.12.94+deb13-amd64 boot=live components quiet splash findiso=${iso_path} custom options here
# initrd /live/initrd.img-6.12.94+deb13-amd64
# }
# menuentry "Alternate graphical installer" {
# linux /install/gtk/vmlinuz vga=788  --- quiet custom options here
# initrd /install/gtk/initrd.gz
# }
# menuentry "Alternate textual installer" {
# linux /install/vmlinuz vga=normal  --- quiet custom options here
# initrd /install/initrd.gz
# }

# Installer (if any)
if true; then

source	/boot/grub/install_start.cfg

submenu 'Advanced install options ...' --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (if any)
	if false; then
		source /boot/grub/memtest.cfg
	fi

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi

	# Verify the checksums
	if true; then
		menuentry "Verify integrity of the boot medium" --hotkey=v {
			linux	/live/vmlinuz boot=live components   findiso=${iso_path} verify-checksums
			initrd	/live/initrd.xz
		}
	fi
}
