menu background ankoraboot.png
label live-amd64
	menu label ^Ankora OS Zumrut (Live)
	menu default
	linux /live/vmlinuz boot=live
	initrd /live/initrd.xz
	append boot=live components quiet splash

label live-amd64-failsafe
	menu label ^Ankora OS Zumrut (Guvenli Mod)
	linux /live/vmlinuz boot=live
	initrd /live/initrd.xz
	append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788